[submodule "glslang"]
	path = glslang
	url = https://github.com/gscept/glslang.git
[submodule "spirv-headers"]
	path = spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "spirv-tools"]
	path = spirv-tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
